{% load static %}
<div class="header_container">
    <div class="header_menu">
        <a href="#">Home</a>
        <a href="#">Notification</a>
        <a href="#">About</a>
    </div>
    <div class="header_user_info">
        <p>posts <a href="">{{user.profile.twit_set.all.count}}</a></p>
        <p>subscriptions <a href="">{{user.profile.followers.all.count}}</a></p>
        {% if user.profile.avatar %}
        <a href="{{user.profile.get_absolue_url}}">
            <img class='avatar' src="{{user.profile.avatar.url}}" width="30" height="30" />
        </a>
        {% else %}
            <a href="{{user.profile.get_absolue_url}}">
                <img class="avatar" src="https://fora.kz/images/no-photo.jpg" width="30" height="30" alt="">
            </a>
        {% endif %}
        <img class='btn_new' src="{% static 'assets/plus.png' %}" alt="">
        <a class='btn_exit' href="{% url 'exit:exit_page' %}">logout</a>
    </div>
</div>
