{% load static %}
<div class="header_container">
    <div class="header_menu">
        <a href="#">Home</a>
        <a href="#">Notification</a>
        <a href="#">About</a>
    </div>
    <div class="header_user_info">
        <p>posts <a href="">{{user.profile.twit_set.all.count}}</a></p>
        <p>subscriptions <a href="">2</a></p>
        <p>followers <a href="">{{user.profile.followers.all.count}}</a></p>
        <a href="">
            <img class='avatar' src="https://pp.userapi.com/c845521/v845521265/1958c1/Pwk8qgTbAog.jpg" width="30" height="30" />
        </a>
        <img src="{% static 'assets/plus.png' %}" alt="">
        <a class='btn_exit' href="{% url 'exit:exit_page' %}">logout</a>
    </div>
</div>
