{% extends 'base.html' %}
{% load static %}
{% block content %}

    <a class='btn_register' href="{% url 'register:register_page' %}">register</a>

    <div class="login_container">
        <h3>WELCOM</h3>
        <img src="{% static 'assets/login.png' %}" alt="">

        <form method="POST">{% csrf_token %}
            <input type="email" name="email" placeholder="Email ..." value="">
            <input type="password" placeholder="Password ..." name="password" value="">
            <button type="submit" name="button">Login</button>
        </form>

    </div>

{% endblock %}
