{% extends 'base.html' %}
{% load static %}
{% block content %}

    <a class='btn_register' href="{% url 'login:login_page' %}">login</a>

    <div class="register_container">
        <h3>REGISTER</h3>
        <img src="{% static 'assets/add-user.png' %}" alt="">
        <form method="POST" class="">{% csrf_token %}
            <input type="text" placeholder="Username ..." name="username" value="">
            <input type="email" placeholder="Email ..." name="email" value="">
            <input type="password" placeholder="Password ..." name="password" value="">
            <button type="submit" name="button">register</button>
        </form>
    </div>

{% endblock %}
