{% extends 'base.html' %}

{% block content %}
    {% include 'new.html' %}
    {% include 'header.html' %}
    <div class="container_posts">
        <div class="container_wrapper">
            {% for twit in twits %}
                <div class="item">
                    <p>{{twit.text}}</p>
                    <div class="info_author">
                        {% if twit.profile.avatar %}
                            <img src="{{twit.profile.avatar.url}}" width="20" height="20" alt="">
                        {% else %}
                            <img src="https://fora.kz/images/no-photo.jpg" width="20" height="20" alt="">
                        {% endif %}
                        <a href="">{{twit.profile.login}}</a>
                    </div>
                </div>
            {% endfor %}
            </div>
    </div>


    <div class="other_container">
        <p class='label'>Your posts</p>
        <div class="other_wrapper">
            {% if user.profile.twit_set.all %}
                {% for twit in user.profile.twit_set.all %}
                    <div class="item">
                        <p>{{twit.text}}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>


{% endblock %}
